.l-home
  .home-box
    %h2.home-heading
      We will enrich people
      %br/
      all over the world
    %p.home-text
      私たちは人々を豊かにする
    %a.home-link(href="/singnup")
      今すぐ
      %span.is-facebook
        F
      %span.is-line
        L
      %span.is-instagram
        I
      %span.is-twitter
        T
      する
